src/main/app/remove_subscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="remove_subscriptionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/removesubscription/" allowedMethods="GET, POST" doc:name="HTTP"/>
        <set-variable variableName="course" value="#[message.inboundProperties.'http.query.params'.course]" doc:name="Variable Course"/>
        <set-variable variableName="email" value="#[message.inboundProperties.'http.query.params'.email]" doc:name="Variable Email"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Remove Subscription Database">
            <db:parameterized-query><![CDATA[DELETE FROM subscribers WHERE (email = #[flowVars.email] AND course = #[flowVars.course]);]]></db:parameterized-query>
        </db:delete>
    </flow>
    <sub-flow name="remove_subscription_send_email_sub_flow">
        <set-payload value="Confirm your unsubscription here: http://localhost:8081/removesubscription/?email=#[flowVars.email]&amp;course=#[flowVars.course]" doc:name="Set Payload Message Unsubscription"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="issubscribertest@gmail.com" password="Ruizinho69" connector-ref="Gmail" to="#[flowVars.email]" from="issubscribertest" subject="Unsubscribe" responseTimeout="10000" doc:name="Remove Subscription Verification"/>
    </sub-flow>
    <flow name="soap_remove_subscription_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap_unsubscribe" doc:name="HTTP"/>
        <cxf:jaxws-service  doc:name="CXF" serviceClass="soap.Unsubscription"/>
        <custom-transformer returnClass="java.util.HashMap" class="soap.PutSubscription" doc:name="Java"/>
        <set-variable variableName="course" value="#[message.payload['course']]" doc:name="Variable Course"/>
        <set-variable variableName="email" value="#[message.payload['email']]" doc:name="Variable Email"/>
        <flow-ref name="remove_subscription_send_email_sub_flow" doc:name="remove_subscription_send_email_sub_flow"/>
    </flow>
</mule>
