target/classes/new_subscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="test"  database="subscriptiondb" doc:name="MySQL Configuration" password="test"/>
    <smtp:gmail-connector name="Gmail"  validateConnections="true" doc:name="Gmail"/>
    <sub-flow name="new_subscription_send_email_sub_flow">
        <db:insert config-ref="MySQL_Configuration" doc:name="Insert New Subscription Database">
            <db:parameterized-query><![CDATA[INSERT INTO subscribers (email, course)
VALUES (#[flowVars.email], #[flowVars.course])]]></db:parameterized-query>
        </db:insert>
        <set-payload value="Confirm your subscription here: http://localhost:8081/confirm_by_email/?email=#[flowVars.email]" doc:name="Set Payload Message Subscription"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="issubscribertest@gmail.com" password="Ruizinho69" connector-ref="Gmail" to="#[flowVars.email]" from="issubscribertest" subject="Subscribe" responseTimeout="10000" doc:name="SMTP Subscription Verification"/>
        <flow-ref name="post_twitter_sub_flow" doc:name="post_twitter_sub_flow"/>
        <set-payload value="'#[message.payload]'" doc:name="Set Payload"/>
    </sub-flow>
    <flow name="soap_new_subscription_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap_subscribe" doc:name="HTTP" allowedMethods="GET,POST"/>
        <cxf:jaxws-service serviceClass="soap.Subscription" doc:name="CXF"/>
        <custom-transformer returnClass="java.util.HashMap" class="soap.PutSubscription" doc:name="Java"/>
        <set-variable variableName="course" value="#[message.payload['course']]" doc:name="Variable Course"/>
        <set-variable variableName="email" value="#[message.payload['email']]" doc:name="Variable Email"/>
        <flow-ref name="new_subscription_send_email_sub_flow" doc:name="new_subscription_send_email_sub_flow"/>
    </flow>
</mule>
